# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.env
.env.*
db.sqlite3
*.log

# Django
/media/
staticfiles/
*.pot
*.pyc
.DS_Store

# Poetry
poetry.lock

# Editor/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*~

# OS-specific
Thumbs.db
.DS_Store
desktop.ini
